[Unit]
Description=My startup scripts ImageServer
After=networking.target

[Service]
Type=forking
ExecStart=/usr/local/bin/carpeta_que_contienelos_los_scripts
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target

#hola

